<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml;http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css}">
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>数据库显示</title>
    <script>
        function insert() {
            var str1 = '';
            var str2 = '';
            str1 += '<thead>'
                + '<th>姓名</th>'
                + '<th>性别</th>'
                + '<th>等级</th>'
                + '</thead>';
            str1 += '<tbody>'
                + '<td><input></td>'
                + '<td><input></td>'
                + '<td><input></td>'
                + '</tbody>';
            str2 += '<thead>'
                + '<th>能力</th>'
                + '<th>学校</th>'
                + '<th>年级</th>'
                + '</thead>';
            str2 += '<tbody>'
                + '<td><input></td>'
                + '<td><input></td>'
                + '<td><input></td>'
                + '</tbody>';
            $(intable1).html(str1);
            $(intable2).html(str2);
            $(inbutton).html('<button onclick="()" type="button" class="btn-primary btn btn-default">确定</button>');
        }
        function back() {
            window.location.href="/toaru";
        }
        function yes() {
            $.ajax({
                type: 'get',
                url: "/toaru/show2",
                timeout: 1000,
                data: {},
                dataType: 'json',
                success: function (data) {
                    var str = '';
                    for(var i = 0; i < data.length; i++) {
                        str +='<tr>'
                            + '<td>' + data[i].cname + '</td>'
                            + '<td>' + data[i].csex + '</td>'
                            + '<td>' + data[i].cschool + '</td>'
                            + '<td>' + data[i].cpower + '</td>'
                            + '<td>' + data[i].clevel + '</td>'
                            + '<td>' + data[i].cgrade + '</td>'
                            + '</tr>';
                    }
                    $(tableBody).html(str);
                    $("#id2").val("");
                },
                error: function () {
                    window.alert("刷新失败!");
                }
            })
        }
        function search() {
            var user = new Object();
            user.cname = $.trim($(id2).val());
            $.ajax({
                type: 'get',
                url: "/toaru/search",
                timeout: 1000,
                data: {ObjectUser:JSON.stringify(user)},
                dataType: 'json',
                success: function (data) {
                    var str = '';
                    for(var i = 0; i < data.length; i++) {
                        str +='<tr>'
                            + '<td>' + data[i].cname + '</td>'
                            + '<td>' + data[i].csex + '</td>'
                            + '<td>' + data[i].cschool + '</td>'
                            + '<td>' + data[i].cpower + '</td>'
                            + '<td>' + data[i].clevel + '</td>'
                            + '<td>' + data[i].cgrade + '</td>'
                            + '</tr>';
                    }
                    $(tableBody).html(str);
                },
                error: function () {
                    window.alert("查找失败!");
                }
            })
        }
        function del() {
            var user = new Object();
            user.cname = $.trim($(id2).val());
            $.ajax({
                type: 'get',
                url: "/toaru/delete",
                timeout: 1000,
                data: {ObjectUser:JSON.stringify(user)},
                dataType: 'text',
                success: function(result) {
                    if (result != "success") {
                        window.alert("删除失败");
                        yes();
                    } else {
                        window.alert("删除成功");
                        yes();
                    }
                },
                error: function () {
                    window.alert("删除失败!");
                }
            })
        }
    </script>
</head>
<body>
<div align="center">
    <h1 align="center" class="page-header" >とある魔術の禁書目録<small>科学側</small></h1>
    <div class="container">
        <form class="navbar-form navbar-left">
            <div align="center" class="form-group container">
                <input onkeyup="search()" id="id2" type="text" class="form-control" placeholder="Search" style="width: 400px">
                <div class=" btn-group">
                    <button onclick="search()" type="button" class="btn-primary btn btn-default">搜索</button>
                    <button onclick="del()" type="button" class="btn-primary btn btn-default">删除</button>
                    <button onclick="insert()" type="button" class="btn-primary btn btn-default">新增</button>
                </div><br>
                <div class=" btn-group">
                </div>
                <table id="intable1"></table>
                <table id="intable2"></table>
                <div id="inbutton"></div>
            </div>
        </form>
    </div>
    <table id="tab" class="table table-striped table-hover">
        <thead>
        <th>姓名</th>
        <th>性别</th>
        <th>等级</th>
        <th>能力</th>
        <th>学校</th>
        <th>年级</th>
        </thead>
        <tbody id="tableBody"></tbody>
    </table>
    <div class="form-group btn-group">
        <button onclick="yes()" type="submit" class="btn btn-primary btn-sm btn-default">刷新</button>
        <button onclick="back()" type="submit" class="btn btn-primary btn-sm btn-default">返回</button>
    </div>
</div>
</body>
</html>
