<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml;http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/magic.css}">
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="js/magic.js"></script>
    <meta charset="UTF-8">
    <title>科学側</title>
</head>
<body>
<div align="center">
    <h1 align="center" class="page-header" >とある魔術の禁書目録<small>科学側</small></h1>
    <div class="container">
        <form class="navbar-form navbar-left">
            <div align="center" class="form-group container">
                <input id="id2" type="text" class="form-control" placeholder="Search">
                <div class=" btn-group">
                    <button onclick="search()" type="button" class="btn-primary btn btn-default">搜索</button>
                    <button onclick="del()" type="button" class="btn-primary btn btn-default">删除</button>
                    <button onclick="insert()" type="button" class="btn-primary btn btn-default">新增</button>
                </div><br>
                <div style="margin-top: 20px">
                    <table id="intable1"></table>
                    <table id="intable2"></table>
                    <div id="inbutton"></div>
                </div>
            </div>
        </form>
    </div>
    <div id="tbd">
        <table id="tab" class="table table-striped table-hover">
            <thead>
            <th>姓名</th>
            <th>性别</th>
            <th>等级</th>
            <th>能力</th>
            <th>学校</th>
            <th>年级</th>
            </thead>
            <tbody id="tableBody"></tbody>
        </table>
    </div>
    <div class="form-group btn-group">
        <button onclick="yes()" type="submit" class="btn btn-primary btn-sm btn-default">刷新</button>
        <button onclick="back()" type="submit" class="btn btn-primary btn-sm btn-default">返回</button>
    </div>
</div>
</body>
</html>
